@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.circle {

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;
        color: v.$lightGrey;

        img {
            display: block;
            width: 100%;

            @include breakpoint.breakpoint-up(medium) {
                width: 500px;
            }
        }
    }
}