@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.dropdown {
    background-color: v.$blue;
    position: relative;

    &__headline {
        margin-bottom: 2rem;
    }

    &__text--white {
        font-size: 1rem;
        line-height: 1.3;
        margin-bottom: 3rem;

        @include breakpoint.breakpoint-up(large) {
            font-size: 1.25rem;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 1.5rem;

        @include breakpoint.breakpoint-up(large) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__card {
        position: relative;
        width: 302px;
    }

    &__card-image {
        position: relative;
        width: 302px;
        min-height: 234px;
        border-radius: 20px 20px 0 0;
        background-color: v.$white;

        > img {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__details {
        width: 100%;
        outline: none;
        bottom: 0;
        z-index: 1;

        summary {
            height: 40px;
            text-align: center;
            outline: none;
            background-color: v.$purple;
            border-radius: 0 0 20px 20px;
            
            z-index: 1;
            cursor: pointer;
            transition: .5s ease-in-out;

            svg {
                position: relative;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 10px auto 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 1rem;
                background-color: v.$white;
                transition: .5s;
            }
        }

        summary::-webkit-details-marker, 
        summary::marker {
            display: none; 
            content: "";
        }

        &[open] {
            div {
                background-color: v.$yellow;
                font-size: 18px;
                line-height: 1.3;
                padding: 3rem 1.5rem 3rem;
                color: v.$purple;
                border-radius: 0 0 20px 20px;
                animation: sweep .5s ease-in-out;
            }

            @keyframes sweep {
                0%    {opacity: 0; margin-top: -10px}
                100%  {opacity: 1; margin-top: 0px}
              }

            summary {
                background-color: v.$yellow;
                border-radius: 0;

                svg {
                    transform: rotate(180deg);
                    // stroke: #FFFFFF;
                }
            }     
        }
    }

    &__icon {
        position: absolute;
        width: 144px;
        bottom: -15px;
        right: -70px;

        @include breakpoint.breakpoint-up(large) {
            width: 335px;
            bottom: -40px;
            right: -180px;
        }
    }

}