@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.footer {
    background-color: v.$purple;
    padding: 3.5rem 0;

    img {
        width: 240px;

        @include breakpoint.breakpoint-up(large) {
            width: 327px;
        }
    }
}