@use "./variables" as v;

body {
    font-family: 'Raleway', sans-serif;
    color: v.$white;
}

.container {
    max-width: 64rem;
    padding: 0 1.25rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}