@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.hero {
    background: url('../../assets/header-360.png') no-repeat center / cover;
    height: 35rem;

    @include breakpoint.breakpoint-up(medium) {
        background: url('../../assets/header-1024.png') no-repeat center / cover;
    }

    @include breakpoint.breakpoint-up(large) {
        background: url('../../assets/header-1920.png') no-repeat center / cover;
    }

    &__logo {
        width: 140px;
        padding-top: 30px;

        @include breakpoint.breakpoint-up(large) {
            width: 253px;
        }

        @include breakpoint.breakpoint-up(xlarge) {
            padding-top: 0;
        }
    }

    &__headline {
        padding-top: 95px;
    }

    &__text {
        font-size: 18px;

        @include breakpoint.breakpoint-up(medium) {
            font-size: 25px;
        }

        @include breakpoint.breakpoint-up(large) {
            font-size: 30px;
        }
    }
}