@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.list {
    background-color: v.$purple;
    padding-top: 105px;
    padding-bottom: 62px;

    &__box {
        border: 3px solid #FFFFFF;
        border-radius: 20px;
    }

    &__content {
        padding: 20px;
    }

    &__image {
        position: absolute;
        top: 495px;
        left: 100px;
    }

    &__headline {
        color: v.$yellow;
        font-size: v.$font-big;
        font-weight: bold;
        text-align: center;
        padding-top: 104px;
        padding-bottom: 40px;
    }
    
    &__icon {
        position: absolute;
        width: 107px;
    }
}