@use "./breakpoints" as breakpoint;
@use "./variables" as v;

.list {
    background-color: v.$purple;

    &__headline--mobile {
        margin-bottom: 2rem;
    }

    &__headline--desktop {
        color: v.$yellow;
    }

    &__content {
        border: 3px solid #FFFFFF;
        border-radius: 20px;
        padding: 16px;
        margin-top: 35px;

        @include breakpoint.breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 37px;
            margin: 33px 99px;
        }
    }

    &__text {
        font-size: 1rem;
        line-height: 1.2;

        > p {
            margin-bottom: 1rem;
        }

        @include breakpoint.breakpoint-up(large) {
            font-size: 1.25rem;
            max-width: 30rem;
        }
    }

    &__image {

        @include breakpoint.breakpoint-down(medium) {
            position: relative;
            top: -90px;
        }
    }

    &__icon--big {
        position: absolute;
        bottom: -410px;
        left: -170px;
    }
    
    &__icon--small {
        position: absolute;
        bottom: -562px;
        left: -70px;
    }
}