// Colors

$white: #FFFFFF;
$darkGrey: #353535;
$purple: #7A2B58;
$red: #FF3737;
$yellow: #FFCC33;
$lightGrey: #707070;
$blue: #03B5B0;


// Font Sizes
$font-small: 1.125rem; // 18px
$font-medium: 1.25rem; // 20px
$font-big: 2.375rem; // 38px
$font-lg: 2.8125rem; // 45px
$font-xlg: 5.4375rem; // 87px

